.circle {
    width: 600px;
    height: 600px;
    background-image: url('../img/bush.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.1s;
    image-rendering: pixelated;
    filter: drop-shadow(0 50px 50px rgba(0, 0, 0, 0.2));
}

.circle:active {
    transform: scale(0.95);
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.counter {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.leaf-icon {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

#cps {
    position: absolute;
    left: -100px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    color: #333;
}

#dps {
    position: absolute;
    right: -100px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    color: #333;
}

/* Sidebar Component */
.sidebar {
    background-color: #c7c7c7;
    width: 375px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: auto;
    overflow-y: auto;
    align-items: flex-start;
}

.color-option {
    width: 100%;
    height: 140px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
    color: #333;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
}

.color-option:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.8);
}

.item-icon {
    width: 100px;
    height: 100px;
    image-rendering: pixelated;
    object-fit: contain;
    margin-right: 30px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

.item-cost {
    margin-right: auto;
    font-size: 1.5rem;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
}

.leaf-icon-small {
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
    object-fit: contain;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

.item-count {
    font-size: 1.5rem;
    font-weight: bold;
}

.reset-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #888888;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
}

.reset-btn:hover {
    background-color: #cc0000;
}